<!DOCTYPE html>
<html>
    <head>
        <title>All About Me</title>
    </head>
    <body>
        <h1>Welcome to ALL ABOUT ME!</h1>
        <!-- DO NOT Change Code Above -->
        <form action="done">
            <label for="fname">Enter your first name:</label><br>
            <input type="text" name="fname"><br>
            <br>
            <label for="lname">Enter your last name:</label><br>
            <input type="text" name="lname"><br>
            <br>
            <label for="city">Enter your city:</label><br>
            <input type="text" name="city"><br>
            <br>
            <label for="state">Select your state:</label><br>
            <select name="state">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
            <p>Please select your age:</p>
            <input type="radio" id="age1" name="age" value="18-24">
            <label for="age1">18-24</label>
            <input type="radio" id="age2" name="age" value="25-34">
            <label for="age2">25-34</label><br>
            <input type="radio" id="age3" name="age" value="35-44">
            <label for="age3">35-44</label>
            <input type="radio" id="age4" name="age" value="45-54">
            <label for="age4">45-54</label><br>
            <input type="radio" id="age5" name="age" value="55-64">
            <label for="age5">55-64</label>
            <input type="radio" id="age6" name="age" value="65+">
            <label for="age6">65+</label><br>
            <br>
            <label for="bio">Describe yourself:</label><br>
            <input type="text" name="bio"><br>
            <br>
            <label for="website">Your Website:</label><br>
            <input type="url" name="website"><br>
            <br>
            <input type="submit" value="Submit Profile">
        </form>
        <!-- DO NOT Change Code Below -->
    </body>
</html>
